
/** ************************************
 *   GENERAL
 ***************************************/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    font-weight: 600 !important;
}

h1 {
	font-weight: bold;
}

h2, h3, h4, h5, h6 {
    color: #0a0a0a;
    font-family: 'Montserrat', Georgia, 'Times New Roman', Times, serif !important;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

h1 {
    font-family: 'IM Fell French Canon', Georgia, 'Times New Roman', Times, serif !important;
}
	
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* color: #141414; */
    color: #0a0a0a;
}

footer{
    margin-top: auto;
}

.top-left-radius {
	border-top-left-radius: 5px !important;	
}

.top-right-radius {
	border-top-right-radius: 5px !important;
}

.required:before {
	content:"* " !important;
	color: #f00 !important;
}

.center {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

btn:focus, a:focus {
	outline: none !important;
}
.navbar-toggler:focus {
	outline: none !important;
	box-shadow: none  !important;
}

/** ************************************
 *   HEADER
 ***************************************/
#Masthead {
    background-image: none;
    background-color: #5e0009;
    width: 100%;
    color: #fff;
    z-index: 103;
    min-width: 1px;
}
#Masthead .Logo a {
    display: block;
    overflow: hidden;
    position: relative;
}
#Masthead a {
    text-decoration: none;
}
#Masthead .Logo {
    position: absolute;
    z-index: 104;
}
#Masthead .Logo img {
    position: absolute;
}
#MastheadInner {
    margin: 0 auto;
    position: relative;
    padding: 0 calc(30px - 10px);
}
#Masthead, #MastheadInner, #MastheadControls {
    height: 50px;
    line-height: 50px;
}

@media screen and (max-width: 959px) {
	#MastheadInner {
	    padding: 0;
	}
}

@media screen and (max-width: 959px) {
	#Masthead .Logo {
	    width: 242px;
	}
	#Masthead .Logo a {
	    margin: 13px 10px 13px 10px;
	    height: 24px;
	    width: 219px;
	}	
}

@media screen and (max-width: 767px) {
	#Masthead .Logo {
	    width: auto;
	}
	#Masthead .Logo a {
	    margin: 17px 0 18px 10px;
	    height: 15px;
	    width: 148px;
	}
	#Masthead .Logo img {
	    top: -25px;
	    left: 0;
	}
}

@media screen and (max-width: 1023px){
	#Masthead {
    	position: fixed;
	}
}

@media screen and (min-width: 768px) {
	#MastheadInner {
	    max-width: calc(1440px - 250px);
	}
	#Masthead .Logo {
	    width: 217px;
	}
	#Masthead .Logo a {
	    margin: 13px 10px 13px 10px;
	    height: 24px;
	    width: 201px;
	}
 	#Masthead .Logo img {
	    top: 0;
	    left: -25px;
	}
}

/** ************************************
 *   NAV
 ***************************************/
nav.MainNav {
    width: 100%;
    background-color: #7e333a;
    padding-top: 1rem;
    position: relative;
}
.MainNav {
    margin-bottom: 0;
    min-height: 10px;
    background-color: #fff;
}
address, article, audio, embed, footer, header, nav, object, section {
    display: block;
    margin: 0;
    padding: 0;
}
.MainNav>.NavWrapper {
    max-width: calc(1440px - 270px);
    margin: 0 auto;
    padding: 0 2rem 0;
    position: relative;
}
.MainNav>.grid_inner {
    max-width: calc(1440px - 270px);
    margin: 0 auto;
    padding: 0 2rem 0;
}
.MainNav>.grid_inner {
    position: relative;
}
.MainNav .GlobalNav {
    border-top-width: 0;
    padding: 0;
    margin: 0;
}
.grid_inner>:last-child {
    margin-bottom: 0;
}
.GlobalNav {
    border-top: 6px solid #c2c2c2;
    margin-bottom: 1.5rem;
    padding-top: .5rem;
}
#MainMenu, #SubMenu {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.GlobalNav>:last-child {
    margin-bottom: 0;
}
.MainNav ul {
    list-style-type: none;
    padding: 0;
    margin-top: .5rem;
}
ul:last-child, ol:last-child, dl:last-child {
    margin-bottom: 0;
}
.MainNav ul {
    list-style-type: none;
    padding: 0;
    margin-top: .5rem;
}
.MainNav li {
    list-style-type: none;
    margin-bottom: .5rem;
}
.MainNav li>a {
    text-decoration: none;
}
#MainMenu>li {
    display: table-cell;
    width: 14.28%;
    border: 1px solid #96595f;
    border-width: 0 1px;
}
.MainMenu a {
    color: white !important;
    font-size: .83333rem;
    line-height: 1.5;
}
.MainNav a {
    display: block;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}
@media screen and (max-width: 1023px) {
 	nav.MainNav {
	    margin-top: 50px;
	} 
	#MainNav {
		display:none;
	}	
}

/** ************************************
 *   NAV LOGIN
 ***************************************/
#loginlink {
	color: #fff;
	font-weight: 400;
	font-size: .85rem;
}

/** ************************************
 *   LOGIN FORM
 ***************************************/
#login-form-div {
	width: 340px;
	margin-top: 64px;
}

#login-form input:focus {
  outline: 1px solid #eee;
  box-shadow: none;
}
#login-form input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 1px;
    /* border-style: inset; */
    border-color: #eee !important;
    border-image: initial;
}


/** ************************************
 *   FORM ELEMENTS
 ***************************************/
.ContentBlock:last-child {
    margin-bottom: 0;
}
.ContentBlock {
    margin-bottom: 1.5rem;
}
button, input[type='button'], input[type='submit'], input[type='reset'], .Button, .button {
    background-color: #5e0009 !important;
    border-radius: 2px !important;
    border-width: 0 !important;
    color: #fff !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: .83333rem !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    margin: .5rem .5rem .5rem 0 !important;
    padding: .4rem 1rem !important;
    text-align: center !important;
    text-decoration: none !important;
}
input[type='button'], input[type='checkbox'], input[type='radio'], input[type='reset'], input[type='submit'] {
    width: auto;
}
input, select, textarea {
    padding: .25rem !important;
    width: 100% !important;
    border: 1px solid #c2c2c2 !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
input, optgroup, select, textarea, button {
    font: inherit !important;
}
input[type="submit" i] {
    appearance: auto !important;
    user-select: none !important;
    white-space: pre !important;
    align-items: flex-start !important;
    text-align: center !important;
    cursor: default !important;
    box-sizing: border-box !important;
    background-color: buttonface !important;
    color: buttontext !important;
    padding: 1px 6px !important;
    border-width: 2px !important;
    border-style: outset !important;
    border-color: buttonborder !important;
    border-image: initial !important;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.ContentBlock {
    margin-bottom: 1.5rem;
}
.ContentBlock>:first-child {
    margin-top: 0;
}
.ContentBlock:last-child {
    margin-bottom: 0;
}
body p:first-child {
    margin-top: 0;
}
.HelpLinks {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-top: 40px;
}
.HelpLinks > p > a {
    margin: 10px 0 0 0;
    text-decoration: underline;
}


/** ************************************
 *   SITE TITLE
 ***************************************/
 .UnitMastheadWrapper {
    background-color: #fff;
    width: 100%;
}
.UnitMasthead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 1rem 30px 0 0;
}
.UnitMasthead .SiteTitle, 
.UnitMasthead .SiteTitle h1 {
    font-family: freight-text-pro, Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #5e0009;
}
.UnitMasthead .SiteTitle a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
	.UnitMastheadWrapper {
		margin: 0;
	    max-width: none;
	}	
	.UnitMasthead {
		height: auto;
		max-width: calc(1440px - 270px);
		width: 100%;
	}
	.UnitMasthead .SiteTitle, 
	.UnitMasthead .SiteTitle h1 {
	    font-size: 1.728rem;
	    line-height: 1.2;
	}
}

@media screen and (max-width: 767px) {
	.UnitMasthead {
	    height: auto;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	}	
	.UnitMastheadWrapper {
		margin: 50px 0 0 0;
	    max-width: none;
	}	
	.UnitMasthead .SiteTitle, 
	.UnitMasthead .SiteTitle h1 {
	    font-size: 1.44rem;
	    line-height: 1.2;
	    text-align: center;
	}
}

/** ************************************
 *   BREADCRUMBS
 ***************************************/
#Breadcrumb {
	padding-left: 0 !important;
}
.breadcrumb-new {
    background-color: white;
    margin: 0;
    padding: 0;
    border-top: 1px solid #c2c2c2;
} 
.breadcrumb-new .ancestor::after {
    content: '/';
    margin: 0 .5rem;
}
.breadcrumb-new .current-page {
    font-weight: 700 !important;
}
@media screen and (max-width: 767px) {
	#Breadcrumb {
	    display: none;
	}	
}

@media screen and (max-width: 959px) {
	.breadcrumb-new {
	    min-width: 1px;
	}
	#Breadcrumb {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
}




@media screen and (min-width: 768px) {
	.breadcrumb-new {
	    margin: 0;
	}
	#Breadcrumb a {
    	color: #5e0009;
    	text-decoration: none;
	}
	#Breadcrumb {
	    color: #5e0009;
	    display: block;
	    float: none;
	    font-size: .83333rem;
	    line-height: 1.5;
	    margin: 0 auto;
	    max-width: calc(1440px - 270px);
	    padding: 0.75rem 30px;
	    text-align: left;
	}
}

 
 
 
/** ************************************
 *   TOAST
 ***************************************/
 #toastContainer {
 	position: fixed !important;  
 	top:20px; 
 	right: 20px;
 	border: .1rem solid darkgray;
 	max-width: 324px;
 	min-width: 324px;
 	border-radius: 7px;
 	background-color: white;
 }
 
#toastHeader {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-left-color: #28a745;
	border-right-color: #28a745;
	border-top-color: #28a745;
	margin: 0;
	background-color: #28a745;
}
 
#toastBody {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: #eeefef !important;
}
 
/** ************************************
 *   COLORS
 ***************************************/
 .text-green {
 	color: #2eb348 !important;
 }
 
 .text-blue {
 	color: #3d59a9 !important;
 }
 
 .text-msu {
 	color: #5e0009 !important;
 }

.bg-blue {
	background-color: #3d59a9 !important;
}
 
 
/** ************************************
 *   BORDERS
 ***************************************/
.white-border {
	border: 1px solid white;
} 
 
 
/** ************************************
 *   CARDS
 ***************************************/
.card {
    transform: translateZ(0) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-body {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-columns {
	display: flex;
}


/** ************************************
 *   LINKS
 ***************************************/
/* unvisited link */
a:link {
  color: #5e0009; /* MSU Link Red */
}

/* visited link */
a:visited {
  color: #5e0009; /* MSU Link Red */
}

/* mouse over link */
a:hover {
  color: #5e0009; /* MSU Link Red */
}

/* selected link */
a:active {
  color: #5e0009; /* MSU Link Red */
}


/** ************************************
 *   HOME PAGE
 ***************************************/
 



/** ************************************
 *   FOOTER
 ***************************************/
#footer {
	color: #fff !important;
	background-color: #425563 !important;
/* 	padding-left: 0 !important;
	padding-right: 0 !important; */
}
#grounding-bar-div, #grounding-bar {
	margin-top: -16px !important;
	margin-bottom: 10px;
}
.logo {
	width:282px;
	height:56px;
	margin: 10px auto 20px;
}
.wordmark-straight {
	fill: white;	
}
.footer h2 {
    color: white;
    font-size: 1rem;
    margin-top: 0;
}
.footer, .footer a {
    color: white;
}
.footer .connect .icon svg {
    fill: white;
}
.footer .connect .icon {
	display: inline-block;
	width: 25px;
	vertical-align: top;
}
.footer .connect .info {
	display: inline-block;
}
.footer li {
    font-size: .83333rem;
}
.footer ul.msu {
	width: 200px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.footer .connect .campuses-heading {
	margin-left: -198px;
}

.footer ul.campuses {
	width: 285px;
	max-width: 285px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.footer ul.campuses a {
	text-decoration: underline;
}
.footer .connect li, .footer .campuses li {
    margin-bottom: 0.5rem;
}
.footer .connect ul, .footer .campuses ul {
    list-style-type: none;
    padding-left: 0;
}

@media screen and (min-width: 1023px) {
	.footer .icon-group-wide {
		display: block;
	}
	.footer .icon-group-narrow {
		display: none;
	}
}
@media screen and (max-width: 1022px) {
	.footer .icon-group-wide {
		display: none;
	}
	.footer .icon-group-narrow {
		display: block;
	}
}

#social-container-1, #social-container-2 {
	width:300px; 
	margin-left: auto; 
	margin-right: auto;
}

#social-container-1 .col, #social-container-2 .col {
	padding: 0 !important;	
}

.social-img {
	width: 48px;
}


.footer .hashtag {
    font-family: freight-text-pro, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.44rem;
    line-height: 1.5;
    text-align: center;
    /* margin-top: 2rem; */
}

#footer-statement {
	padding-left: 0 !important;
	padding-right: 0 !important;	
}
.footer .branding.MYMS {
    background-color: #5e0009;
    padding: 1rem 0;
    width: 100%;
}
.footer .branding.MYMS img, 
.footer .branding.MYMS a {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 570px;
}

.footer .legal ul {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
}
.footer .legal li:first-child {
    margin-left: 0;
}
.footer .legal li {
    display: inline-block;
    margin: 0;
    margin-left: .75rem;
}
.footer .legal li a {
	text-decoration: underline;
}
	
@media screen and (max-width: 768px) {
	.connect, .campuses-heading,
	.campuses {
		text-align: center !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}	
	

/** ************************************
 *   LOGIN
 ***************************************/
#login-username, 
#login-password {
	width: 250px;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    /* min-height: 75vh; */
    margin-top: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.wrap-login100 {
    width: 390px;
    margin-top: -175px;
    border-radius: 10px;
    overflow: hidden;
    background: transparent;
}

.login100-form-title {
    font-size: 28px;
    font-weight: 700;
    color: #7e333a;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.login100-form {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
    padding: 0 15px 10px 20px;
}



/** ************************************
 *   INPUTS
 ***************************************/
input[type="checkbox" i], .form-check-input, #form2Example31 {
    background-color: #3d59a8 !important;
}

input[type="checkbox" i]:before, .form-check-input:before {
    background-color: #3d59a8 !important;
}


/** ************************************
 *   Buttons
 ***************************************/
.btn:focus {
  outline: none;
  box-shadow: none;
}
button:focus {
    outline: none;
}

/** ************************************
 *   MSU Button
 ***************************************/
 button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
 }
    
/** ************************************
 *   PRIMARY BUTTON
 ***************************************/
.btn-primary {
  color: #fff !important;
  background-color: #3d59a8 !important;
  border-color: #32498a !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #32498a !important;
  border-color: #3d59a8 !important;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff !important;
  background-color: #3d59a8 !important;
  border-color: #3d59a8 !important;
  /* box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5) !important; */
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn, .btn-nofocus:focus {
  outline: none !important;
  box-shadow: none !important;
}


/** ************************************
 *   SUCCESS BUTTON
 ***************************************/
.btn-success {
  color: #fff !important;
  background-color: #31b44b !important;
  border-color: #258b39 !important;
}

.btn-success:hover {
  color: #fff !important;
  background-color: #258b39 !important;
  border-color: #31b44b !important;
}

.btn-success:focus, .btn-success.focus {
  color: #fff !important;
  background-color: #31b44b !important;
  border-color: #258b39 !important;
  /* box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5) !important; */
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}


/** ************************************
 *   FONTAWESOME ICONS
 ***************************************/
 i {
 	color: #2eb348 !important;
 }
 

/** ************************************
 *   TITLED BORDER
 ***************************************/
.titledborder {
  border-color: #343a40 !important;
  border-width: 1px !important;
}

.titledborder-title {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: -13px;
  background-color: #fff;
  display: table;
  color: #343a40;
  padding: 0 5px;
}

.titledborder-content {
  padding: 0 5px 5px 5px;
}


/** ************************************
 *   ANIMATION
 ***************************************/
/* .animated-logo {
   background-repeat: no-repeat;
   background-position: left top;
   -webkit-animation-duration: 3s;
   animation-duration: 3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}
   
.fade-in-text {
  animation: fadeIn 3s;
} */



/** ************************************
 *   ERROR PAGE
 ***************************************/
#errorImage {
	max-height: 200px;
} 


       
/** ************************************
 *   FONT WEIGHT
 ***************************************/
 .fw100 {font-weight: 100 !important;}
 .fw200 {font-weight: 200 !important;}
 .fw300 {font-weight: 300 !important;}
 .fw400 {font-weight: 400 !important;}
 .fw500 {font-weight: 500 !important;}
 .fw600 {font-weight: 600 !important;}
 .fw700 {font-weight: 700 !important;}
 .fw800 {font-weight: 800 !important;}
 .fw900 {font-weight: 900 !important;}
 
 
 /** ************************************
 *   FONT SIZE (PERCENT)
 ***************************************/
 .fs110p {font-size: 110% !important;}
 .fs120p {font-size: 120% !important;}
 .fs130p {font-size: 130% !important;}
 .fs140p {font-size: 140% !important;}
 .fs150p {font-size: 150% !important;}
 .fs160p {font-size: 160% !important;}
 .fs170p {font-size: 170% !important;}
 .fs180p {font-size: 180% !important;}
 .fs190p {font-size: 190% !important;}
 .fs200p {font-size: 200% !important;}
 .fs210p {font-size: 210% !important;}
 .fs220p {font-size: 220% !important;}
 .fs230p {font-size: 230% !important;}
 .fs240p {font-size: 240% !important;}
 .fs250p {font-size: 250% !important;}
 .fs260p {font-size: 260% !important;}
 .fs270p {font-size: 270% !important;}
 .fs280p {font-size: 280% !important;}
 .fs290p {font-size: 290% !important;}
 .fs300p {font-size: 300% !important;}
         
/** ************************************
 *   MEDIA QUERIES
 ***************************************/

@media screen and (max-width: 992px) {
/* 	h1.fluid {
		font-size: 2rem !important;
	} */
}
 
@media screen and (max-width: 768px) {
/* 	.h1-fluid {
		font-size: 1.5rem !important;
	}
	#footer-funding {
		padding: 0 !important;	
	}
	#landing-page-computer {
		max-height: 200px;
	}
	#landing-bullets {
		margin-top: 20px !important;
	}
	.mgmt-process {
		min-height: 200px;
	}
	.card-detail {
		padding-bottom: 24px;
	} */
}

@media screen and (max-width: 576px) {

/* 	#forgotPasswordDiv {
		text-align: center;
		margin-top: 20px;
	} */
	
}


 
 
 
 
 
 
 
 
 